
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY (element selector) */
body {
    background-color: #2e8bc0;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    color: #4b0082;
    line-height: 1.6;
}

/* LAYOUT (class selector) */
.container {
    display: flex;
}

/* SIDEBAR (navigation bar using positioning) */
.sidebar {
    width: 250px;
    background-color: #ff69b4;
    color: rgb(244, 241, 241);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right: 5px solid #20b2aa;
}

/* SIDEBAR TITLE */
.sidebar h2 {
    font-family: Algerian, serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    color: rgb(229, 212, 30);
}

/* NAVIGATION */
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

/* NAV LINKS */
.sidebar a {
    color: rgb(207, 17, 96);
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
}

/* HOVER EFFECT */
.sidebar a:hover {
    background-color: #20b2aa;
    color: rgb(20, 18, 18);
    transform: translateX(5px); /* slight movement */
}

/* MAIN CONTENT */
.main {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
}

/* HEADER */
header {
    text-align: center;
    background-color: #ce1571;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* TITLE */
header h1 {
    font-family: Algerian, serif;
    font-size: 18px;
    color: rgb(216, 196, 15);
}

/* TAGLINE */
.tagline {
    margin-top: 5px;
    color: #ff5703;
    text-align: center;
}

/* CONTACT */
.contact {
    margin-top: 10px;
    color: #ff5100;
    text-align: center;
}

/* SECTION CARDS */
.box {
    background-color: rgb(246, 242, 242);
    margin: 20px auto;
    padding: 25px;
    width: 85%;
    border-left: 6px solid #20b2aa;
    border-radius: 10px;

    /* CARD EFFECT */
    display: block;
    transition: 0.3s;
}

/* CARD HOVER */
.box:hover {
    transform: translateY(-5px);
}

/* HEADINGS */
h2 {
    font-family: Algerian, serif;
    font-size: 18px;
    color: #ff1493;
    margin-bottom: 15px;
    border-bottom: 2px solid #20b2aa;
    padding-bottom: 5px;
}

/* TEXT FORMATTING */
p {
    margin-bottom: 12px;
    text-align: justify;
}

/* LIST */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* PROJECT TITLE */
.project-title {
    font-weight: bold;
    color: #20b2aa;
    margin-top: 12px;
}

/* SECTION SPACING USING ID SELECTORS */
#profile, 
#education, 
#projects, 
#skills, 
#hobbies, 
#declaration {
    scroll-margin-top: 20px;
}

/* SMOOTH SCROLL */
html {
    scroll-behavior: smooth;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .container {
        display: block;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .main {
        margin-left: 0;
    }

    .box {
        width: 95%;
    }
}